XSD-files/BaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Enumerators/Areas_GFCM_GSA.xsd" />
  <xs:include schemaLocation="Enumerators/BiologicalMeasurementType.xsd" />
  <xs:include schemaLocation="Enumerators/BycatchMitigationDevice.xsd" />
  <xs:include schemaLocation="Enumerators/BycatchMitigationDeviceTarget.xsd" />
  <xs:include schemaLocation="Enumerators/ClaimTypes.xsd" />
  <xs:include schemaLocation="Enumerators/CommercialSizeCategoryScale.xsd" />
  <xs:include schemaLocation="Enumerators/DurationSource.xsd" />
  <xs:include schemaLocation="Enumerators/EDMO.xsd" />
  <xs:include schemaLocation="Enumerators/GearType.xsd" />
  <xs:include schemaLocation="Enumerators/Harbour_LOCODE.xsd" />
  <xs:include schemaLocation="Enumerators/ICES_Area.xsd" />
  <xs:include schemaLocation="Enumerators/ISO_3166.xsd" />
  <xs:include schemaLocation="Enumerators/MeasurementCertainty.xsd" />
  <xs:include schemaLocation="Enumerators/Metier5_FishingActivity.xsd" />
  <xs:include schemaLocation="Enumerators/Metier6_FishingActivity.xsd" />
  <xs:include schemaLocation="Enumerators/METOA.xsd" />
  <xs:include schemaLocation="Enumerators/Month.xsd" />
  <xs:include schemaLocation="Enumerators/ObservationActivityType.xsd" />
  <xs:include schemaLocation="Enumerators/ObservationCode.xsd" />
  <xs:include schemaLocation="Enumerators/ObservationMethod.xsd" />
  <xs:include schemaLocation="Enumerators/Presentation.xsd" />
  <xs:include schemaLocation="Enumerators/Quarter.xsd" />
  <xs:include schemaLocation="Enumerators/ReasonForNotSampling.xsd" />
  <xs:include schemaLocation="Enumerators/RegDisCategory.xsd" />
  <xs:include schemaLocation="Enumerators/RS_AccuracyCode.xsd" />
  <xs:include schemaLocation="Enumerators/RS_AddGrpMeasurementType.xsd" />
  <xs:include schemaLocation="Enumerators/RS_AggregationLevel.xsd" />
  <xs:include schemaLocation="Enumerators/RS_CatchCategory.xsd" />
  <xs:include schemaLocation="Enumerators/RS_CatchFraction.xsd" />
  <xs:include schemaLocation="Enumerators/RS_CatchRegistration.xsd" />
  <xs:include schemaLocation="Enumerators/RS_Clustering.xsd" />
  <xs:include schemaLocation="Enumerators/RS_CommercialSizeCategory.xsd" />
  <xs:include schemaLocation="Enumerators/RS_DataSourceLandingsValue.xsd" />
  <xs:include schemaLocation="Enumerators/RS_DataSourceOfScientificWE.xsd" />
  <xs:include schemaLocation="Enumerators/RS_DataTypeOfScientificWE.xsd" />
  <xs:include schemaLocation="Enumerators/RS_EEZI.xsd" />
  <xs:include schemaLocation="Enumerators/RS_ExplainDifference.xsd" />
  <xs:include schemaLocation="Enumerators/RS_FishingTechnique.xsd" />
  <xs:include schemaLocation="Enumerators/RS_FishingValidity.xsd" />
  <xs:include schemaLocation="Enumerators/RS_incidentialByCatchMitigateD.xsd" />
  <xs:include schemaLocation="Enumerators/RS_JurisdictionArea.xsd" />
  <xs:include schemaLocation="Enumerators/RS_LandingCategory.xsd" />
  <xs:include schemaLocation="Enumerators/RS_LEfullTripAvailable.xsd" />
  <xs:include schemaLocation="Enumerators/RS_LocationType.xsd" />
  <xs:include schemaLocation="Enumerators/RS_LowerHierarchy.xsd" />
  <xs:include schemaLocation="Enumerators/RS_NationalFishingActivity.xsd" />
  <xs:include schemaLocation="Enumerators/RS_QualitativeBias.xsd" />
  <xs:include schemaLocation="Enumerators/RS_Region.xsd" />
  <xs:include schemaLocation="Enumerators/RS_SamplingScheme.xsd" />
  <xs:include schemaLocation="Enumerators/RS_SamplingType.xsd" />
  <xs:include schemaLocation="Enumerators/RS_Sex.xsd" />
  <xs:include schemaLocation="Enumerators/RS_Subpolygon.xsd" />
  <xs:include schemaLocation="Enumerators/RS_UnitScaleList.xsd" />
  <xs:include schemaLocation="Enumerators/RS_UpperHierarchy.xsd" />
  <xs:include schemaLocation="Enumerators/RS_VesselLengthCategory.xsd" />
  <xs:include schemaLocation="Enumerators/RS_VesselSizeUnit.xsd" />
  <xs:include schemaLocation="Enumerators/RS_VesselType.xsd" />
  <xs:include schemaLocation="Enumerators/Sampler.xsd" />
  <xs:include schemaLocation="Enumerators/SampleType.xsd" />
  <xs:include schemaLocation="Enumerators/SamplingSchemeType.xsd" />
  <xs:include schemaLocation="Enumerators/SamplingUnit.xsd" />
  <xs:include schemaLocation="Enumerators/SelectionDevice.xsd" />
  <xs:include schemaLocation="Enumerators/SelectionMethod.xsd" />
  <xs:include schemaLocation="Enumerators/SpecASFIS.xsd" />
  <xs:include schemaLocation="Enumerators/SpecWoRMS.xsd" />
  <xs:include schemaLocation="Enumerators/StateOfProcessing.xsd" />
  <xs:include schemaLocation="Enumerators/StatRec.xsd" />
  <xs:include schemaLocation="Enumerators/TargetSpecies.xsd" />
  <xs:include schemaLocation="Enumerators/TimeUnit.xsd" />
  <xs:include schemaLocation="Enumerators/ValueUnitOrScale.xsd" />
  <xs:include schemaLocation="Enumerators/Year.xsd" />
  <xs:include schemaLocation="Enumerators/YesNoFields.xsd" />
  <xs:include schemaLocation="Enumerators/SpecimensState.xsd"   />
    
    
  <xs:complexType name="BaseSL">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SLcountry" type="tISO_3166" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLinstitute" type="tEDMO" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLspeciesListName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLyear" type="tYear" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLcatchFraction" type="tRS_CatchFraction" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLcommercialTaxon" type="tSpecWoRMS" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLspeciesCode" type="tSpecWoRMS" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseCL">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CLdataTypeOfScientificWeight" type="tRS_DataTypeOfScientificWE" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLdataSourceOfScientificWeight" type="tRS_DataSourceOfScientificWE" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLsamplingScheme" type="tRS_SamplingScheme" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLdataSourceLandingsValue" type="tRS_DataSourceLandingsValue" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLlandingCountry" type="tISO_3166" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLvesselFlagCountry" type="tISO_3166" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLyear" type="tYear" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLquarter" type="tQuarter" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLmonth" type="tMonth" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLarea" type="tICES_Area" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLstatisticalRectangle" type="tStatRec" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLgsaSubarea" type="tAreas_GFCM_GSA" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLjurisdictionArea" type="tRS_JurisdictionArea" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLexclusiveEconomicZoneIndicator" type="tRS_EEZI" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLspeciesCode" type="tSpecWoRMS" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLspeciesFaoCode" type="tSpecASFIS" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLlandingCategory" type="tRS_LandingCategory" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLcatchCategory" type="tRS_CatchCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLregDisCategory" type="tRegDisCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLcommercialSizeCategoryScale" type="tCommercialSizeCategoryScale" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLcommercialSizeCategory" type="tRS_CommercialSizeCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLnationalFishingActivity" type="tRS_NationalFishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLmetier6" type="tMetier6_FishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLincidentialByCatchMitigationDevice" type="tBycatchMitigationDevice" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLlandingLocation" type="tHarbour_LOCODE" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLvesselLengthCategory" type="tRS_VesselLengthCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLfishingTechnique" type="tRS_FishingTechnique" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLdeepSeaRegulation" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLofficialWeight" type="tInt2Billion" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLscientificWeight" type="tInt2Billion" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLexplainDifference" type="tRS_ExplainDifference" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLtotalOfficialLandingsValue" type="tInt100MillionInclusive0" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLnumberOfUniqueVessels" type="tInt100Thousands0Inclusive" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLscientificWeightRSE" type="tInt999" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLvalueRSE" type="tInt999" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLscientificWeightQualitativeBias" type="tRS_QualitativeBias" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="BaseCE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CEdataTypeForScientificEffort" type="tRS_DataTypeOfScientificWE" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEdataSourceForScientificEffort" type="tRS_DataSourceOfScientificWE" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEsamplingScheme" type="tRS_SamplingScheme" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEvesselFlagCountry" type="tISO_3166" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEyear" type="tYear" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEquarter" type="tQuarter" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEmonth" type="tMonth" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEarea" type="tICES_Area" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEstatisticalRectangle" type="tStatRec" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEgsaSubarea" type="tAreas_GFCM_GSA" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEjurisdictionArea" type="tRS_JurisdictionArea" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEexclusiveEconomicZoneIndicator" type="tRS_EEZI" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEnationalFishingActivity" type="tRS_NationalFishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEmetier6" type="tMetier6_FishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEincidentalByCatchMitigationDevice" type="tBycatchMitigationDevice" />
      <xs:element minOccurs="1" maxOccurs="1" name="CElandingLocation" type="tHarbour_LOCODE" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEvesselLengthCategory" type="tRS_VesselLengthCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEfishingTechnique" type="tRS_FishingTechnique" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEdeepSeaRegulation" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEnumberOfFractionTrips" type="tDecimalPointZeroOneTo50000" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEnumberOfDominantTrips" type="tIntZeroTo50000" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEofficialDaysAtSea" type="tDecimalPointZeroOneTo25000" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEscientificDaysAtSea" type="tDecimalPointZeroOneTo25000" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEofficialFishingDays" type="tDecimalPointZeroOneTo25000" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEscientificFishingDays" type="tDecimalPointZeroOneTo25000" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEofficialNumberOfHaulsOrSets" type="tInt2Hundrend50Thousand" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEscientificNumberOfHaulsOrSets" type="tInt2Hundrend50Thousand" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEofficialVesselFishingHour" type="tDecimalPointZeroOneTo1200000" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEscientificVesselFishingHour" type="tDecimalPointZeroOneTo1200000" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEofficialSoakingMeterHour" type="tDecimalPointZeroOneTo12e8" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEscientificSoakingMeterHour" type="tDecimalPointZeroOneTo12e8" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEofficialkWDaysAtSea" type="tInt2Million500Thousand" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEscientifickWDaysAtSea" type="tInt2Million500Thousand" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEofficialkWFishingDays" type="tInt2Million500Thousand" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEscientifickWFishingDays" type="tInt2Million500Thousand" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEofficialkWFishingHours" type="tInt25Million" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEscientifickWFishingHours" type="tInt2Million5000Thousand" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEgTDaysAtSea" type="tInt25Million" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEgTFishingDays" type="tInt25Million" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEgTFishingHours" type="tLong1000Billion" />
      <xs:element minOccurs="1" maxOccurs="1" name="CEnumberOfUniqueVessels" type="tInt1000MillionInclusive0" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEscientificFishingDaysRSE" type="tInt999" />
      <xs:element minOccurs="0" maxOccurs="1" name="CEscientificFishingDaysQualitativeBias" type="tRS_QualitativeBias" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="BaseBV">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BVnationalUniqueFishId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVstateOfProcessing" type="tStateOfProcessing" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVpresentation" type="tPresentation" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVtypeMeasured" type="tBiologicalMeasurementType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVvalueMeasured" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVvalueUnitOrScale" type="tValueUnitOrScale" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVmethod" type="tSampleType" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVmeasurementEquipment" type="tMETOA" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVaccuracy" type="tRS_AccuracyCode" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVcertaintyQualitative" type="tMeasurementCertainty" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVcertaintyQuantitative" type="tDecimalPrec2" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVconversionFactorAssessment" type="tDecimalPrec2" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVtypeAssessment" type="tBiologicalMeasurementType" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="BVunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BVsampler" type="tSampler" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseDE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DEsamplingScheme" type="tRS_SamplingScheme" />
      <xs:element minOccurs="1" maxOccurs="1" name="DEsamplingSchemeType" type="tSamplingSchemeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="DEyear" type="tYear" />
      <xs:element minOccurs="1" maxOccurs="1" name="DEstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DEhierarchyCorrect" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="DEhierarchy" type="tRS_UpperHierarchy" />
      <xs:element minOccurs="1" maxOccurs="1" name="DEsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="DEreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseSD">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SDcountry" type="tISO_3166" />
      <xs:element minOccurs="1" maxOccurs="1" name="SDinstitution" type="tEDMO" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseFM">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FMstateOfProcessing" type="tStateOfProcessing" />
      <xs:element minOccurs="1" maxOccurs="1" name="FMpresentation" type="tPresentation" />
      <xs:element minOccurs="1" maxOccurs="1" name="FMclassMeasured" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FMnumberAtUnit" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FMtypeMeasured" type="tBiologicalMeasurementType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FMmethod" type="tSampleType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FMmeasurementEquipment" type="tMETOA" />
      <xs:element minOccurs="0" maxOccurs="1" name="FMaccuracy" type="tRS_AccuracyCode" />
      <xs:element minOccurs="1" maxOccurs="1" name="FMconversionFactorAssessment" type="tDecimalPrec3" />
      <xs:element minOccurs="1" maxOccurs="1" name="FMtypeAssessment" type="tBiologicalMeasurementType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FMsampler" type="tSampler" />
      <xs:element minOccurs="0" maxOccurs="1" name="FMaddGrpMeasurement" type="tDecimalPrec2" />
      <xs:element minOccurs="0" maxOccurs="1" name="FMaddGrpMeasurementType" type="tRS_AddGrpMeasurementType" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseFO">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FOstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOsequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOsampler" type="tSampler" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOaggregationLevel" type="tRS_AggregationLevel" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOvalidity" type="tRS_FishingValidity" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOcatchReg" type="tRS_CatchRegistration" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOstartDate" type="tDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOstartTime" type="tTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOendDate" type="tDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOendTime" type="tTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOduration" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOdurationSource" type="tDurationSource" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOhandlingTime" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOstartLat" type="tDecimalPrec5" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOstartLon" type="tDecimalPrec5" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOstopLat" type="tDecimalPrec5" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOstopLon" type="tDecimalPrec5" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOexclusiveEconomicZoneIndicator" type="tRS_EEZI" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOarea" type="tICES_Area" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOrectangle" type="tStatRec" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOgsaSubarea" type="tAreas_GFCM_GSA" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOjurisdictionArea" type="tRS_JurisdictionArea" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOfishingDepth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOwaterDepth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOnationalFishingActivity" type="tRS_NationalFishingActivity" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOmetier5" type="tMetier5_FishingActivity" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOmetier6" type="tMetier6_FishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOgear" type="tGearType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOmeshSize" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOselectionDevice" type="tSelectionDevice" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOselectionDeviceMeshSize" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOtargetSpecies" type="tTargetSpecies" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOincidentalByCatchMitigationDeviceFirst" type="tBycatchMitigationDevice" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOincidentalByCatchMitigationDeviceTargetFirst" type="tBycatchMitigationDeviceTarget" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOincidentalByCatchMitigationDeviceSecond" type="tBycatchMitigationDevice" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOincidentalByCatchMitigationDeviceTargetSecond" type="tBycatchMitigationDeviceTarget" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOgearDimensions" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOobservationCode" type="tObservationCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="FOsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="FOreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseFT">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FTencryptedVesselCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTsequenceNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTclusterName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTsampler" type="tSampler" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTsamplingType" type="tRS_SamplingType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTnumberOfHaulsOrSets" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTdepartureLocation" type="tHarbour_LOCODE" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTdepartureDate" type="tDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTdepartureTime" type="tTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTarrivalLocation" type="tHarbour_LOCODE" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTarrivalDate" type="tDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTarrivalTime" type="tTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="FTsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="FTreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseLE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LEencryptedVesselCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEsequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEhaulNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEsampler" type="tSampler" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEmixedTrip" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEcatchReg" type="tRS_CatchRegistration" />
      <xs:element minOccurs="0" maxOccurs="1" name="LElocode" type="tHarbour_LOCODE" />
      <xs:element minOccurs="0" maxOccurs="1" name="LElocationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LElocationType" type="tRS_LocationType" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEcountry" type="tISO_3166" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEdate" type="tDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEtime" type="tTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEexclusiveEconomicZoneIndicator" type="tRS_EEZI" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEarea" type="tICES_Area" />
      <xs:element minOccurs="0" maxOccurs="1" name="LErectangle" type="tStatRec" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEgsaSubarea" type="tAreas_GFCM_GSA" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEjurisdictionArea" type="tRS_JurisdictionArea" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEnationalFishingActivity" type="tRS_NationalFishingActivity" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEmetier5" type="tMetier5_FishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEmetier6" type="tMetier6_FishingActivity" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEgear" type="tGearType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEmeshSize" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEselectionDevice" type="tSelectionDevice" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEselectionDeviceMeshSize" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEtargetSpecies" type="tTargetSpecies" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEmitigationDevice" type="tBycatchMitigationDevice" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEgearDimensions" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="LEsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEreasonNotSampled" type="tReasonForNotSampling" />
      <xs:element minOccurs="0" maxOccurs="1" name="LEfullTripAvailable" type="tRS_LEfullTripAvailable" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseLO">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LOsequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOlocode" type="tHarbour_LOCODE" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOlocationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOlocationType" type="tRS_LocationType" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOsampler" type="tSampler" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="LOsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseOS">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OSsequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSlocode" type="tHarbour_LOCODE" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSlocationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSlocationType" type="tRS_LocationType" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSsamplingDate" type="tDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSsamplingTime" type="tTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSsampler" type="tSampler" />
      <xs:element minOccurs="0" maxOccurs="1" name="OStimeUnit" type="tTimeUnit" />
      <xs:element minOccurs="0" maxOccurs="1" name="OStimeValue" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="OSsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="OSreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseSA">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SAsequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAparentSequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAspeciesCode" type="tSpecWoRMS" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAspeciesCodeFAO" type="tSpecASFIS" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAstateOfProcessing" type="tStateOfProcessing" />
      <xs:element minOccurs="1" maxOccurs="1" name="SApresentation" type="tPresentation" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAspecimensState" type="tSpecimensState" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAcatchCategory" type="tRS_CatchCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAlandingCategory" type="tRS_LandingCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAcommSizeCatScale" type="tCommercialSizeCategoryScale" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAcommSizeCat" type="tRS_CommercialSizeCategory" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAsex" type="tRS_Sex" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAexclusiveEconomicZoneIndicator" type="tRS_EEZI" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAarea" type="tICES_Area" />
      <xs:element minOccurs="0" maxOccurs="1" name="SArectangle" type="tStatRec" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAgsaSubarea" type="tAreas_GFCM_GSA" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAjurisdictionArea" type="tRS_JurisdictionArea" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAnationalFishingActivity" type="tRS_NationalFishingActivity" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAmetier5" type="tMetier5_FishingActivity" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAmetier6" type="tMetier6_FishingActivity" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAgear" type="tGearType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAmeshSize" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAselectionDevice" type="tSelectionDevice" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAselectionDeviceMeshSize" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAunitType" type="tSamplingUnit" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAtotalWeightLive" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAsampleWeightLive" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAnumberTotal" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAnumberSampled" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAunitName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAlowerHierarchy" type="tRS_LowerHierarchy" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAsampler" type="tSampler" />
      <xs:element minOccurs="1" maxOccurs="1" name="SAsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAreasonNotSampledFM" type="tReasonForNotSampling" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAreasonNotSampledBV" type="tReasonForNotSampling" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAtotalWeightMeasured" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAsampleWeightMeasured" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="SAconversionFactorMeasLive" type="tDecimalPrec5" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseSS">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SSsequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSobservationActivityType" type="tObservationActivityType" />
      <xs:element minOccurs="1" maxOccurs="1" name="SScatchFraction" type="tRS_CatchFraction" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSobservationType" type="tObservationMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSsampler" type="tSampler" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSspeciesListName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSuseForCalculateZero" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSselectionProb" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSinclusionProb" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="SSsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseTE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TEsequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEtimeUnit" type="tTimeUnit" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEsampler" type="tSampler" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="TEsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="TEreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseVD">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="VDencryptedVesselCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="VDyear" type="tYear" />
      <xs:element minOccurs="1" maxOccurs="1" name="VDcountry" type="tISO_3166" />
      <xs:element minOccurs="0" maxOccurs="1" name="VDhomePort" type="tHarbour_LOCODE" />
      <xs:element minOccurs="1" maxOccurs="1" name="VDflagCountry" type="tISO_3166" />
      <xs:element minOccurs="0" maxOccurs="1" name="VDlength" type="tVesselLengthDecimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="VDlengthCategory" type="tRS_VesselLengthCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="VDpower" type="tVesselPower" />
      <xs:element minOccurs="0" maxOccurs="1" name="VDtonnage" type="tVesselSize5000" />
      <xs:element minOccurs="0" maxOccurs="1" name="VDtonUnit" type="tRS_VesselSizeUnit" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="BaseVS">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="VSsequenceNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSencryptedVesselCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSstratification" type="tYesNoFields" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSstratumName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSclustering" type="tRS_Clustering" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSclusterName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSsampler" type="tSampler" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSnumberTotal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSnumberSampled" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSselectionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSinclusionProb" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSselectionMethod" type="tSelectionMethod" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSunitName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSselectionMethodCluster" type="tSelectionMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSnumberTotalClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSnumberSampledClusters" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSselectionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSinclusionProbCluster" type="tDecimalPrec10" />
      <xs:element minOccurs="1" maxOccurs="1" name="VSsampled" type="tYesNoFields" />
      <xs:element minOccurs="0" maxOccurs="1" name="VSreasonNotSampled" type="tReasonForNotSampling" />
    </xs:sequence>
    <xs:attribute name="ln" type="xs:int" use="required" />
  </xs:complexType>
  <xs:simpleType name="tStringLength100">
    <xs:restriction base="xs:string">
      <xs:length value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDate">
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="\d{4}\-\d{2}\-\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tTime">
    <xs:restriction base="xs:string">
      <xs:length value="5" />
      <xs:pattern value="\d{2}\:\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tNumberOfHauls">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="300" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tVesselLength">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="3" />
      <xs:maxInclusive value="160" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tVesselLengthDecimal">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="3" />
      <xs:maxInclusive value="160" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tVesselSize">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="2500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tVesselSize5000">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="2500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tVesselPower">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="4" />
      <xs:maxInclusive value="8500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tIntZeroOne">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt100Thousands">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="100000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt100Thousands0Inclusive">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt999">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt2Billion">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="2000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt1000Million">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="1000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt1000MillionInclusive0">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt100MillionInclusive0">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt2Million500Thousand">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="2500000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt2Million5000Thousand">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="25000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt25Million">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="25000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tLong1000Billion">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1000000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tInt2Hundrend50Thousand">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="250000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tCatchWeight">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="-2000000000" />
      <xs:maxInclusive value="2000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tLandingWeight">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="2000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tLandingMultiplier">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0.5" />
      <xs:maxInclusive value="2.00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tLandingValue">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="100000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPrec10">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPrec0">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPrec2">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPrec3">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPrec5">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPointZeroOneTo25000">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:minInclusive value="0.01" />
      <xs:maxInclusive value="25000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPointZeroOneTo50000">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="50000" />
      <xs:minInclusive value="0.01" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPointZeroOneTo1200000">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="1200000" />
      <xs:minInclusive value="0.01" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tDecimalPointZeroOneTo12e8">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="120000000" />
      <xs:minInclusive value="0.01" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tIntZeroTo50000">
    <xs:restriction base="xs:int">
      <xs:maxInclusive value="50000" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>