XSD-files/HCE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:element name="RDBES" type="RDBESTypeHCE" />
  <xs:complexType name="RDBESTypeHCE">
    <xs:sequence>
      <xs:element  maxOccurs="1" name="HCE" type="HCE" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HCE">
    <xs:sequence>
      <xs:element  maxOccurs="unbounded" name="CE" type="BaseCE" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>