XSD-files/HSL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:element name="RDBES" type="RDBESTypeHSL" />
  <xs:complexType name="RDBESTypeHSL">
    <xs:sequence>
      <xs:element  maxOccurs="1" name="HSL" type="HSL" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HSL">
    <xs:sequence>
      <xs:element  maxOccurs="unbounded" name="SL" type="BaseSL" />
    </xs:sequence>
  </xs:complexType>  
  
</xs:schema>