XSD-files/HVD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:element name="RDBES" type="RDBESTypeHVD" />
  <xs:complexType name="RDBESTypeHVD">
    <xs:sequence>
      <xs:element  maxOccurs="1" name="HVD" type="HVD" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HVD">
    <xs:sequence>
      <xs:element  maxOccurs="unbounded" name="VD" type="BaseVD" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>